* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "SemiBold";
}

body {
  background-color: #292929;
  background-image: url("/images/background/Model/Model@2x.png"),
    url("/images/background/Triangle.svg"),
    url("/images/background/TriangleGlow.png"),
    url("/images/background/Shadow.svg");
  background-repeat: no-repeat;
  background-position: top 58px center, top 250px center, top 190px center;
}

.navbar {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.78) 40%,
    rgba(0, 0, 0, 0.17) 82%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  /* margin: 0 auto; */
  padding: 0 50px;
}

#navbar__logo {
  font: normal normal 600 64px/80px Source Sans Pro;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  font-size: 3rem;
  color: #c445f4;
}
#logo {
  top: 51px;
  left: 70px;
  width: 67px;
  height: 66px;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 47px;
}

.navbar__links {
  color: #c445f4;
  text-align: left;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar__links:hover {
  color: #ff00ff;
  background-color: rgba(235, 0, 255, 0.24);
  transition: all 0.3 ease;
  outline: none;
  border-radius: 8px;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

/* .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3 ease;
} */

/* yiyle and video link */
.main {
  margin: 0 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.main__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  height: 100vh;
}

.main__title {
  padding-top: 62px;
  /* padding-left: 168px; */
  width: 283px;
  height: 0px;
}

#main__video__link {
  padding-top: 50px;
  width: 165px;
}

/* slideshow / carousel */
.carousel {
  position: relative;
  top: 104px;

  height: 158px;
  width: 312px;
}

/* .carousel__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.carousel__track-container {
  /* background: lightgreen; */
  color: #fff;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  /* padding: 0; */
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#data__name {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

#data__price {
  color: rgb(147, 147, 252);
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: right;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
}

.arrow {
  border: solid #c445f4;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__button--left {
  left: -50px;
}

.carousel__button--right {
  right: -50px;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  /* background: pink; */
  display: flex;
  justify-content: center;
  padding: 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 8px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgb(255, 255, 255);
}

.is-hidden {
  display: none;
}

/* Monile  */
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    margin: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    width: 100%;
    z-index: -1;
    background: #292929;
  }

  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  #navbar__logoText {
    padding-left: 25px;
  }

  .navbar__toggle {
    /* height: 71px; */
    padding: 1rem;
    background: transparent;
    border: 0;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    cursor: pointer;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
